* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

/* TOOLBAR */
#toolbar {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4rem;
    background-color: var(--bg-secondary-color);
    opacity: 0.9;
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    padding: 0 var(--padding-md);
    border: 2px solid var(--border-active-color);
    border-radius: var(--border-radius-md);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

#toolbar h1 {
    font-size: var(--font-size-lg);
}

/* EDITOR */
#editor {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary-color);
    display: flex;
}

/* PANELS */
#layers-panel {
    width: 20%;
    height: 100%;
    background-color: var(--bg-secondary-color);
    border-right: 1px solid var(--border-active-color);
    padding: 10px;
    overflow-y: auto;
}

#properties-panel {
    width: 20%;
    height: 100%;
    background-color: var(--bg-secondary-color);
    border-left: 1px solid var(--border-active-color);
    padding: 10px;
    overflow-y: auto;
}

/* CANVAS */
#canvas-wrapper {
    flex: 1;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-wrapper::-webkit-scrollbar {
    display: none;
}

#canvas {
    width: 3000px;
    height: 2000px;
    position: relative;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px;
}