* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

/* TOOLBAR */
#toolbar {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    /* height: 4rem; */
    background-color: var(--bg-secondary-color);
    opacity: 0.9;
    color: var(--text-primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-md);
    border: 2px solid var(--border-active-color);
    border-radius: var(--border-radius-md);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

#toolbar h1 {
    font-size: var(--font-size-lg);
    transition: color 0.2s ease-in-out;
}

#toolbar h1:hover {
    cursor: pointer;
    color: var(--bg-danger-color);
}

/* EDITOR */
#editor {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary-color);
    display: flex;
}

/* PANELS */
#layers-panel {
    width: 15%;
    height: 100%;
    background-color: var(--bg-secondary-color);
    border-right: 1px solid var(--border-active-color);
    padding: 10px;
    overflow-y: auto;
}

#properties-panel {
    width: 15%;
    height: 100%;
    background-color: var(--bg-secondary-color);
    border-left: 1px solid var(--border-active-color);
    padding: 10px;
    overflow-y: auto;
}

/* CANVAS */
#canvas-wrapper {
    flex: 1;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-wrapper::-webkit-scrollbar, #canvas::-webkit-scrollbar {
    display: none;
}

#canvas {
    width: 3000px;
    height: 2000px;
    overflow: auto;
    position: relative;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px;
}

/* TOOLS */
.tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gutter-md);
}

.tools i {
    flex: 1;
    color: var(--text-primary-color);
    font-size: var(--font-size-lg);
    font-weight: bold;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-sm);
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--border-active-color);
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.tools i:hover {
    background-color: var(--bg-active-color);
    color: var(--text-active-color);
    border-color: var(--border-primary-color);
}

.tools i:active {
    transform: scale(0.95);
}

.tools #delete:hover{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

.rectangle {
    width: 100px;
    height: 100px;
    position: absolute;
    /* border: 2px solid var(--border-active-color); */
    background-color: rgba(38, 142, 38, 0.3);
    cursor: move;
}

.circle {
    width: 100px;
    height: 100px;
    position: absolute;
    /* border: 2px solid var(--border-active-color); */
    border-radius: 50%;
    background-color: rgba(204, 0, 0, 0.3);
    cursor: move;
}

.image-element {
    width: 250px;
    position: absolute;
    border: 2px solid var(--border-active-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: move;
}